.muted,
footer,
hr:after,
time,
aside {
    color: #90908a
}
html {
    height: 100%;
}
body {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #1B2B34;
    color: #f8f8f0;
    font-size: 1rem;
    margin: 0;
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #272822;
    box-shadow: 0 1rem 1rem #272822
}
footer {
    padding: 2rem;
    text-align: center
}
section {
    padding-left: 5rem
}
h1 {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #fd971f;
    font-size: 2rem;
    font-weight: bold
}
h2 {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #fd971f;
    font-size: 1.5rem;
    font-weight: bold
}
table {
    width: 100%
}
td {
    padding: 0.5rem
}
p {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem
}
ol,
ul {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto
}
li {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem
}
pre {
    font-family: Menlo, Courier, monospace;
    overflow: auto;
    margin: 1rem 0
}
kbd {
    color: #a6e22e
}
code {
    color: #90908a;
    background-color: #31322c
}
hr {
    border: none;
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center
}
hr:after {
    content: '~ ~ ~'
}
.d3container {
    text-align: center
}
blockquote {
    font-style: italic
}
blockquote p {
    box-sizing: border-box;
    border-left: 1rem solid #31322c;
    padding: 0 1rem
}
a {
    color: #C594C5;
    text-decoration: none
}
a:hover {
    color: #FAC863
}
.text-center {
    text-align: center
}
.flex-justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.wrap pre {
    line-height: 2rem;
    margin: 0;
    margin-top: 25px;
    overflow: auto;
}
.highlight {
    margin: 0;
    padding: 1rem;
    background-color: #31322c
}
.highlight pre {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto
}
.hl.string {
    color: #99C794
}
.hl.special {
  color: #F99157;
}
.codewars {
    margin-bottom: -5px;
    margin-right: 5px;
}
/*Responsive*/

@media (max-height: 767px) {
  .wrap {
    font-size: 0.8rem;
}
.wrap pre {
      line-height: 1.5rem;
  }
}
